body{
    background: antiquewhite;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #21252b;

}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font-size: 35px;

}
.account{
    float: right;
}

li a:hover {

    color: red;
    transition-duration: 500ms;
    cursor: pointer;
}
footer{
    background: #21252b;
    color: white;
    position: fixed;
    left: 0; bottom: 0;
    width: 100vw;
    font-size: 50px;
}
