{% load static %}

{% block links %}

    <head>
        <link rel="shortcut icon" href="{%static 'img/logo.png'%}" type="image/x-icon">
    
        <script src="{%static 'js/functions.js'%}"></script>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Qfit Admin</title>
        <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}" />
        <link rel="stylesheet" href="{%static 'css/index.css'%}" />
        
        
        {% block styles %}

        {% endblock %}
    </head>
{% endblock %}



{% block body%}
    
    
{% endblock %}


{%block scripts%}
{%endblock%}