{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">

{% endblock %}


{% block body %}
<div class="topnav">
    <a href="/mybank" >Home</a>
    <a href="/transfer">Transfer</a>
    <a href="/history">History</a>
    <a href="/payments" >Payments</a>
    <a href="/logout" style="float:right">Logout</a>
    </div>
    {% block content %}
    <form class="leftcolumn" method="post" action="{% url 'main:depositmoney'%}">
            {% csrf_token %}
            <h2>Deposit form</h2>
            <label><b>Deposit percentage: 9%</b></label>
            <label><b>Amount</b></label>
            <input type="number" name="amount" placeholder="amount"> <br>
            <button type="submit">Send</button>
        </form>
        <form class="rightcolumn" method="post" action="{% url 'main:withdraw'%}">
            {% csrf_token %}
            <h2>Withdraw form</h2>
            <label><b>Amount</b></label>
            <input type="number" name="amount" placeholder="amount"> <br>
            <button type="submit">Send</button>
        </form>
        {% endblock %}
    {% block footer %}
        <div class="footer">
    <h2>Footer</h2>
</div>
        {% endblock %}
{% endblock %}


{%block scripts%}

{%endblock%}