{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}">

{% endblock %}


{% block body %}
  <ul>
        <li><a>Aitu bank</a></li>
        <li><a>My bank</a></li>
        <li><a>Payments</a></li>
        <li><a>Credits</a></li>
    <li class="account"><a><img src="{% static  'img/account.png' %}" style="width: 45px;height: auto"></a></li>
    </ul>
    {% block content %}
        
    <h1>My transfers history:</h1>

    {% for transfer in transfers %}
        
        <b>Receiver:</b> {{ transfer.receiver.customer.customer_name }} {{ transfer.receiver.customer.customer_surname }} <br>
        <b>Receiver's card number:</b> {{ transfer.receiver.number }} <br>
        <b>Amount:</b> {{ transfer.amount }} KZT <br>
        <b>Date:</b> {{ transfer.transaction_date }} <br>
        <hr>
    {% endfor %}

    {% endblock %}
    {% block footer %}
        <footer>
            <div class="footer">footer</div>
        </footer>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}