{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">

{% endblock %}


{% block body %}
<div class="topnav">
    <a href="/mybank" >Home</a>
    <a href="/transfer">Transfer</a>
    <a href="/payments" >Payments</a>
    <a href="/logout" style="float:right">Logout</a>
    </div>
    {% block content %}
        
    <h1>My transfers history:</h1>
        <div class="card" >
        <table>
                <tr>
                    <th>Receiver</th>
                    <th>Receiver's card number</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>

    {% for transfer in transfers %}
        <tr>
            <td>{{ transfer.receiver.customer.customer_name }} {{ transfer.receiver.customer.customer_surname }} </td>
            <td>{{ transfer.receiver.number }}</td>
            <td>{{ transfer.amount }}</td>
            <td>{{ transfer.transaction_date }}</td>
        </tr>
    {% endfor %}
             </table>
        </div>

    {% endblock %}
    {% block footer %}
        <div class="footer">
    <h2>Footer</h2>
</div>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}