{% extends "base.html" %}
{% load static%}

{%block styles %}

    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
{% endblock %}


{% block body %}
    <div class="header">
    <h1>Python Banking</h1>
    <p>An online banking system made on python.</p>
    </div>

  <div class="topnav">
    <a href="/registration" style="float:right">Sign up</a>
    <a href="/login" style="float:right">Sign in</a>
    </div>


    {% block content %}

        {% endblock %}
    {% block footer %}
        <div class="footer">
    <h2>Footer</h2>
</div>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}