{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">

{% endblock %}


{% block body %}
  <div class="topnav">

</div>
    {% block content %}
        <form method="post" action="{% url 'main:login'%}">
        <div class="container">
            {% csrf_token %}
            <h2>Login Form</h2>
            <label><b>Login</b></label>
            <input id="name" placeholder="Enter login" type="text" name="login"><br>
            <label><b>Password</b></label>
            <input id="name" type="password" placeholder="Enter password" name="password"><br>
            <input type="submit" value="OK">
            </div>
        </form>
        {% endblock %}
    {% block footer %}
        <div class="footer">
    <h2>Footer</h2>
</div>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}