{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}">

{% endblock %}


{% block body %}
  <ul>
        <li><a>Aitu bank</a></li>
        <li><a>My bank</a></li>
        <li><a>Payments</a></li>
        <li><a>Credits</a></li>
    <li class="account"><a><img src="{% static  'img/account.png' %}" style="width: 45px;height: auto"></a></li>
    </ul>
    {% block content %}
        <form method="post" action="{% url 'main:service_payment'%}">
            {% csrf_token %}
            <input hidden type="text" name="amount" value="200">
            <button type="submit">Internet</button>
        </form>
        {% endblock %}
    {% block footer %}
        <footer>
            <div class="footer">footer</div>
        </footer>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}