{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">

{% endblock %}


{% block body %}
<div class="topnav">
    <a href="/mybank" >Home</a>
    <a href="/history">History</a>
    <a href="/transfer" >Transfer</a>
    <a href="/logout" style="float:right">Logout</a>
    </div>
    {% block content %}
        <form method="post" action="{% url 'main:service_payment'%}">
            {% csrf_token %}
            <input hidden  name="service_name" value="Internet">
            <input hidden   name="amount" value="200">
            <button type="submit">Internet</button>
        </form>
        {% endblock %}
    {% block footer %}
        <div class="footer">
    <h2>Footer</h2>
</div>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}