{% extends "base.html" %}
{% load static%}

{%block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">

{% endblock %}


{% block body %}
<div class="topnav">
    <a href="/mybank" >Home</a>
    <a href="/history">History</a>
    <a href="/payments" >Payments</a>
    <a href="/logout" style="float:right">Logout</a>
    </div>
    {% block content %}
        <form method="post" action="{% url 'main:money_transfer'%}">
            {% csrf_token %}
            <h2>Transfer form</h2>
            <label><b>Receiver number</b></label>
            <input type="text" name="receiver_number" placeholder="receiver's card number"> <br>
            <label><b>Amount</b></label>
            <input type="number" name="amount" placeholder="amount"> <br>
            <button type="submit">Send</button>
        </form>
        {% endblock %}
    {% block footer %}
        <div class="footer">
    <h2>Footer</h2>
</div>
        {% endblock %}
{% endblock %}


{%block scripts%}
    
{%endblock%}